{% extends 'insert_into_product.html' %}
{% block card %}
<form class="needs-validation" action="#" method="POST" id="add_form" novalidate>
<div class="card-header">
    <h3><input type="text" name="s_name" class="form-control"
               placeholder="Имя поставщика" required></h3>
</div>
<div class="card-body p-4">
        <div id="show_item">
        <div class="row">
            <div class="col-md-3 mb-3">
                <input type="text" name="phone_number" class="form-control"
                placeholder="Номер телефона" required>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" name="city" class="form-control"
                placeholder="Город поставщика" required>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" name="bank_name" class="form-control"
                placeholder="Название банка поставщика" required>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" name="bank_acc" class="form-control"
                placeholder="Номер банковского счета" required>
            </div>
            <div class="col-sm-auto mb-3 align-self-center">
               Дата заключения контракта:
            </div>
            <div class="col-md-3 mb-3">
                <input type="date" name="contract_date" class="form-control" required>
            </div>
            <div class="col-sm-auto mb-3 align-self-center">
               Срок:
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" name="term_date" class="form-control" required
                placeholder="Пример: 6 месяцев">
            </div>
        </div>
        </div>
    <div>
    <input type="submit" value="Записать и вывести таблицу" class="btn btn-success w-25" id="accept_btn">
    </div>
    <div class="alert alert-danger" role="alert" style="display: {{err_dis}}">
                              {{error}}
                            </div>
</div>
</form>
<script src="/static/sign-in/validation.js"></script>
{% endblock %}